html{
    box-sizing: border-box;
}
*,
*::before,
*::after{
    box-sizing: inherit;
}
a{
    display: inline-block;
    text-decoration: none;
}
ul,
li{
    padding: 0;
    margin: 0;
    list-style: none;
}
body{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #203538;
}
.container{
    max-width: 1230px;
    padding: 0px 15px;
    margin: 0 auto;
}