@import "vars";
@import "global";
@import "fonts";

.header {
    border-top: 20px solid #03a06c;
    padding: 0px 15px;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
}
.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    display: flex;
    align-items: center;
    .logo__text {
        font-size: 22px;
        line-height: 27px;
        color: #000;
        max-width: 298px;
        margin-left: 20px;
    }
}
.header__info {
    display: flex;
    align-items: center;
    .header__info-box {
        font-weight: 600;
        font-size: 20px;
        line-height: 25px;
        text-align: right;
        margin-right: 30px;
        .header__info-text {
            font-size: 14px;
            line-height: 18px;
            color: rgba(0, 0, 0, 0.3);
            max-width: 240px;
            margin: 0;
        }
        .header__info-num {
            color: #000;
            text-decoration: none;
        }
    }
}
// start arrears
.arrears {
    padding: 30px 0px;
    .title {
        font-weight: 900;
        font-size: 28px;
        line-height: 35px;
        margin-bottom: 30px;
        margin-top: 0;
    }
}
.arrears__inner {
    display: flex;
    justify-content: space-between;
}
.arrears__content-box {
    max-width: 850px;
}
.ataptive__tab-item {
    display: none;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    & + .ataptive__tab-item {
        margin-top: 20px;
    }
    .adaptive__title {
        position: relative;
        width: 100%;
        padding: 28px 20px 28px 63px;
        font-size: 16px;
        color: #4d4d4d;
    }
    .adaptive__title-fiz {
        &::before {
            content: "\f2c0";
            font-family: icomoon;
            width: 20px;
            height: 20px;
            position: absolute;
            left: 25px;
            top: 27px;
            color: $page;
            font-size: 27px;
        }
    }
    .adaptive__title-ur {
        padding-left: 90px;
        &::before {
            content: "";
            width: 45px;
            height: 45px;
            position: absolute;
            left: 25px;
            top: 14px;
            color: $page;
            background-image: url(../images/apadtive/build.svg);
        }
    }
    .adaptive__title-ip {
        padding-left: 90px;
        &::before {
            content: "";
            width: 40px;
            height: 40px;
            position: absolute;
            left: 25px;
            top: 14px;
            color: $page;
            background-image: url(../images/apadtive/ip.svg);
        }
    }
    .adaptive__title-id {
        padding-left: 90px;
        &::before {
            content: "";
            width: 40px;
            height: 40px;
            position: absolute;
            left: 25px;
            top: 14px;
            color: $page;
            background-image: url(../images/apadtive/id.svg);
        }
    }
    .dropdown {
        display: none;
        width: 100%;
        padding: 0px 20px;
        font-size: 16px;
        color: #4d4d4d;
        padding-bottom: 30px;
    }
    input,
    button,
    select {
        display: block;
        width: 100%;
        padding: 15px 0px;
        background-color: rgba(3, 160, 108, 0.07);
        border: none;
        border-radius: 6px;
        margin-bottom: 10px;
        padding-left: 20px;
        color: #939393;
    }
    select {
        color: #939393;
    }
    .adaptive__btn {
        border: 1px solid $page;
        color: $page;
        background-color: transparent;
    }
}
.jq-selectbox{
    background-color: #fff;
    border-radius: 6px; 
}

.jq-selectbox__select{
    height: 64px;
    width: 460px;
    padding: 22px 42px 0px 16px;
    box-shadow: none;
    background: #fff;
    &:hover{
        background: transparent;
    }
}
.jq-selectbox__select-text{
    font-size: 16px;
    line-height: 20px;
    color: #939393;
}
.jq-selectbox__trigger{
    border-left: 0px;
}
.jq-selectbox__trigger-arrow{
    border: none;
    position: relative;
    &::before{
        content: '';
        background-image: url(../images/apadtive/select_arrow.svg);
        height: 8px;
        width: 13px;
        position: absolute;
        top: 13px;
        right: -23px;  
    }
}
.jq-selectbox__dropdown{
    top: 62px;
    border-radius: 0px;
    ul{
        max-height: 380px;
        overflow-x: hidden;
        &::-webkit-scrollbar{
        width: 7px;
        }
        &::-webkit-scrollbar-track{
            background-color: #E0E0E0;
        }
        &::-webkit-scrollbar-thumb{
            background-color: $page;
            border-radius: 4px;
        }
        li{
            color: #808080;
        }
    }
}
.arrears__tabs-inner {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    font-size: 20px;
    width: 100%;
    color: rgba(0, 0, 0, 0.7);
    margin-bottom: 20px;
}
.tabs {
    display: flex;
    text-align: center;
    background-color: #f6f6f6;
    border-radius: 10px 10px 0px 0px;
    .tab {
        width: 100%;
        padding: 10px 0px;
        cursor: pointer;
        line-height: 30px;
    }
    .active {
        background-color: #fff;
    }
}
.tab-item {
    display: none;
    &:first-child {
        display: block;
    }
}
.tab__form {
    padding: 30px 40px 40px 25px;
    .form__top {
        margin-bottom: 20px;
    }
    input {
        padding: 0px 42px 0px 16px;
        height: 64px;
        border: 1px solid rgba(65, 65, 65, 0.3);
        border-radius: 8px;
    }
    .name {
        width: 460px;
    }
    .data {
        color: rgba(0, 0, 0, 0.7);
    }
    .data,
    .tab__btn {
        width: 304px;
        margin-left: 17px;
    }
    select {
        height: 64px;
        width: 460px;
        padding-left: 25px;
        border: 1.5px solid rgba(65, 65, 65, 0.3);
        border-radius: 8px;
    }
    .tab__btn {
        height: 64px;
        border-radius: 8px;
        border: 1px solid $page;
        background-color: #fff;
        color: $page;
    }
}
.qr__inner {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 331px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    .qr__text-box {
        width: 100%;
        ul {
            max-width: 341px;
            margin: 0 auto;
            padding-left: 31px;
            position: relative;
            font-size: 16px;
            line-height: 18px;
            color: #fff;
            max-width: 277px;
            li {
                & + li {
                    margin-top: 10px;
                }
            }
            .first {
                &::before {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 7px;
                    width: 17px;
                    height: 4px;
                    background-image: url(../images/before-qr.png);
                }
            }
            .second {
                &::before {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 36px;
                    width: 17px;
                    height: 4px;
                    background-image: url(../images/before-qr.png);
                }
            }
            .third {
                &::before {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 81px;
                    width: 17px;
                    height: 4px;
                    background-image: url(../images/before-qr.png);
                }
            }
        }
    }
}
.sidebar__adaptive-item {
    display: none;
    border: 2px solid $page;
    border-radius: 2px;
    margin-top: 20px;
    position: relative;
    .question__box {
        position: absolute;
        height: 20px;
        width: 20px;
        background-color: $page;
        right: 10px;
        top: 10px;
        border-radius: 50%;
        &::before {
            content: "\f128";
            font-family: icomoon;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: #fff;
            font-size: 14px;
        }
    }
    .sidebar__adaptive-title {
        padding: 30px 0px 30px 39px;
        display: flex;
        color: $page;
        .sidebar__adaptive-title__text {
            padding-left: 19px;
            padding-right: 35px;
        }
    }
    .sidebar__adaptive-dropdown {
        display: none;
        padding: 0px 23px 0px 39px;
        margin-bottom: 30px;
        font-size: 14px;
        line-height: 21px;
        color: #4d4d4d;
    }
}

.sidebar-box {
    .sidebar__item {
        max-width: 300px;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.05);
        border-radius: 10px;
        padding: 15px 15px 18px 15px;
        display: flex;
        justify-content: space-between;
        & + .sidebar__item {
            margin-top: 20px;
        }
        .sidebar__text-box {
            margin-left: 10px;
            .sidebar__item-title {
                margin: 0;
            }
            .sidebar__item-text {
                font-size: 14px;
                line-height: 18px;
                color: #596d7b;
            }
        }
    }
}
// end arrears
// adaptive__image start
.adaptive__image {
    display: none;
    min-height: 215px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.adaptive__image {
    position: relative;
    .adaptive__image-link__apple {
        position: absolute;
        right: 27px;
        top: 50px;
    }
    .adaptive__image-link__gPlay {
        position: absolute;
        right: 20px;
        top: 80px;
    }
}
// adaptive__image end
// start slider
.slider {
    background-color: #f7f7f7;
    padding: 20px 0px 55px;
    .slider__title {
        text-align: right;
        font-size: 16px;
        line-height: 20px;
        color: $page;
        font-weight: 600;
    }
}
.slider__inner {
    text-align: center;
    position: relative;
    .slider__item {
        max-width: 380px;
        margin: 0 auto;
        .slider__img-box {
            background-color: #dbdbdb;
            max-width: 100%;
            min-height: 150px;
            position: relative;
            margin: 0 auto;
            border-radius: 10px;
            img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
        .slider__item-title {
            text-align: left;
            font-size: 18px;
            line-height: 23px;
            font-weight: 700;
            color: #203538;
        }
        .slider__item-text {
            text-align: left;
        }
    }
}
.slick-btn {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 50%;
    outline: none;
    border: none;
    position: absolute;
    width: 35px;
    height: 35px;
}
.slick-prev {
    left: -8px;
    top: 58px;
    z-index: 5;
}
.slick-next {
    right: -8px;
    top: 58px;
}

.slick-dots {
    .slick-active{
        button{
            background-color: $page;
        }
    }
    li {
        display: inline-block;

        & + li {
            margin-left: 9px;
        }
        button {
            height: 6px;
            width: 6px;
            border-radius: 50%;
            background-color: rgba(3, 160, 108, 0.3);
            border: none;
            padding: 0;
            font-size: 0;
            cursor: pointer;
            outline: none;
        }
    }
}

// slider end
// articles start
.articles {
    padding: 40px 0px;
}
.articles__inner {
    display: flex;
    justify-content: space-between;
}
.articles__left-content {
    padding: 20px 99px 45px 25px;
    max-width: 773px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    span {
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        color: #03a06c;
        margin-top: 45px;
    }
}
.articles__left-title,
.articles__right-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
}
.articles__left-text-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: rgba(32, 53, 56, 0.9);
}
.articles__left-text {
    font-size: 16px;
    line-height: 20px;
    color: rgba(32, 53, 56, 0.9);
}
.articles__right-content {
    max-width: 377px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding: 20px 0px 40px 25px;
    span {
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        color: #03a06c;
    }
}
.articles__right-content-list {
    font-weight: 600;
    font-size: 14px;
    line-height: 28px;
    li {
        a {
            color: rgba(32, 53, 56, 0.9);
        }
    }
}
// articles end
// footer start
.footer {
    background-color: #f6f6f6;
    padding: 32px 0px 62px;
}
.footer__inner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
}
.footer__item,
.footer__text {
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.8);
    margin-right: 6px;
}
.footer__item-sections {
    max-width: 276px;
    .footer__item-sections-list {
        li {
            a {
                color: #000;
            }
        }
    }
}
.footer__item-service {
    max-width: 276px;
}
.footer__item-support {
    max-width: 292px;
    .footer__item-support-list {
        li {
            a {
                color: $page;
            }
        }
    }
}
.footer__title {
    font-weight: 800;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 15px;
}
.footer__text {
    max-width: 278px;
}
.footer__bottom-text {
    font-size: 14px;
    line-height: 18px;
}

// footer end

@import "media";
